@charset "UTF-8";

@media screen and (min-width: 600px) {
    html{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    body{
        max-width: 500px;
        border: 2px solid black;
        position: relative;
    }
    footer.product{
        position: relative;
    }
    .fundoForm{
        width: 500px;
    }
}