@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: none;
}
@import url("https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap");

:root {
  --cor1: #000000;
  --cor2: #ffffff;
  --cor3: #f7f7f7;
  --cor4: #d62008;
  --fontPrincipal: "Kadwa", serif;
  --fontSecundaria: "Arial", sans-serif;
}
body,
html {
  width: 100%;
  height: 100%;
  background: var(--cor3);
  overflow-x: hidden;
  position: relative;
}

body::-webkit-scrollbar{
  display: none;
}

#ref{
  width: 100%;
  display: flex;
}
section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

article.topo {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.home > article.topo {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.home > article.topo > h1 {
  font-size: 2rem;
  color: var(--cor4);
  font-weight: 700;
  font-family: var(--fontPrincipal);
}

article.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.categoria-card {
  width: 250px;
  height: 250px;
  background: var(--cor2);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 20px;
  border: 3px solid black;
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.265);
  margin-bottom: 20px;
}

.categoria-card svg {
  width: 100px;
  height: 100px;
}

.categoria-card h1 {
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--fontPrincipal);
  text-transform: uppercase;
}

.categoria-card a {
  width: 100px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cor1);
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--cor2);
}

.categoria-card:hover {
  border: 5px solid var(--cor4);
}

.categoria-card:hover svg path {
  fill: var(--cor4);
}

/* Catalogo */

a#voltar{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: url(../imagens/voltar.png);
  background-position: center center;
  background-size: cover;
}

section.catalogo > article.topo {
  width: 100%;
  height: 50px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

section.catalogo > article.topo > h1 {
  font-size: 2rem;
  color: var(--cor4);
  font-weight: 700;
  font-family: var(--fontPrincipal);
}

section.catalogo > .container-card {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px 10px;
  padding: 10px 0px 20px 0px;
}

section.catalogo > .vertical {
  width: calc(100% - 20px);
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-card > h1 {
  margin-left: 20px;
  align-self: flex-start;
  font-size: 1.3rem;
  font-family: var(--fontPrincipal);
  color: var(--cor4);
  font-weight: 700;
  width: 100%;
}

.container-product {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px 10px;
  padding: 20px 0px;
  z-index: 1;
  overflow-x: scroll;
  width: 100%;
  padding: 30px;
}

.container-product::-webkit-scrollbar {
  display: none;
}

.product-card {
  width: 150px;
  height: 180px;
  background-color: var(--cor2);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-shrink: 0;
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.23);
}

.product-card:hover {
  border: 2px solid var(--cor4);
}

.product-card img {
  width: 100px;
  height: 100px;
  margin: auto;
}

.product-card h1 {
  width: 100%;
  text-align: center;
  font-family: var(--fontSecundaria);
  font-weight: bolder;
  font-size: 15px;
}

.product-card p {
  font-size: 1.2rem;
  font-family: var(--fontPrincipal);
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 10px;
}

.product-card a {
  width: 30px;
  height: 30px;
  background: var(--cor4);
  border-radius: 50%;
  margin-bottom: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card a > svg {
  width: 15px;
  height: 15px;
}

/* Página do produto */
section.product {
  background: var(--cor2);
  display: flex;
  overflow: visible;
}

section.product > article {
  background: var(--cor2);
}

section.product > article.foto {
  width: 100%;
  height: 250px;
  overflow: visible;
  position: relative;
}

article.foto > img {
  width: 100%;
  height: 100%;
}

article.foto > #container-img {
  width: 80px;
  height: 50px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: visible;
}

#container-img > .index:not(.active) {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f7f7f7;
}

.active {
  border: 2px solid var(--cor3);
  background-color: var(--cor4);
  padding: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#detalhe {
  width: 100%;
  height: 50px;
  position: absolute;
  background-color: var(--cor2);
  bottom: 0;
  border-radius: 30px 30px 0px 0px;
}

.index > img {
  display: none;
}

article.info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: calc(100% - 20px);
}

section.product > article h2 {
  font-family: var(--fontSecundaria);
  font-weight: normal;
  text-decoration: underline;
}

span {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 10px;
}
article.info h1 {
  text-align: left;
  font-size: 2rem;
  font-family: var(--fontPrincipal);
  font-weight: 700;
}

article.info p.price {
  text-align: left;
  font-size: 1.3rem;
  font-family: var(--fontPrincipal);
  font-weight: 700;
  color: var(--cor1);
}

article.info h2 {
  font-family: var(--fontSecundaria);
  font-weight: normal;
  text-decoration: underline;
}

article.info p {
  font-family: var(--fontSecundaria);
  padding: 10px 10px;
  font-weight: 200;
  color: #727272;
  font-size: 1.2rem;
}

article.extras {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: calc(100% - 20px);
}
article.extras h2 {
  font-family: var(--fontSecundaria);
  font-weight: normal;
  text-decoration: underline;
}

div.extra {
  width: 100%;
  height: 50px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid #f2f2f2;
}

div.extra span {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

div.extra span h1 {
  font-size: 1.3rem;
  padding-right: 5px;
}

/* Checbox */
.clear {
  clear: both;
}

.content {
  width: 35px;
  height: 35px;
}

.checkBox {
  display: block;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: 3px solid var(--cor4);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px #fff;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.checkBox div {
  width: 60px;
  height: 60px;
  background-color: var(--cor4);
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 100;
  transition: 0.3s ease-in-out;
}

.checkBox input[type="checkbox"]:checked + div {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease-in-out;
}

.checkBox input[type="checkbox"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.transition {
  transition: 300ms ease;
}

section.product .container-card {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px 10px;
  /* padding: 10px 0px 20px 0px; */
}

/* Bebidas - Product */

section.product  .container-card {
  padding-left: 20px;
}

section.product  .container-card  .container-product{
  padding-bottom: 100px;
}

section.product .container-card .container-product .product-card {
  position: relative;
  justify-content: center;
}

.container-card h2 {
  font-family: var(--fontSecundaria);
  font-weight: normal;
  text-decoration: underline;
}

.product-card  .content {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 10px;
  height: 10px;
}

section.product
.container-card
.container-product
.product-card
.content
.checkBox {
  width: 10px;
  height: 10px;
}

section.product
.container-card
.container-product
.product-card
.content
.checkBox
  div {
  width: 30px;
  height: 30px;
}

section.product
.container-card
.container-product
.product-card
.content
.checkBox
  input[type="checkbox"] {
  position: absolute;
  left: 50%;
  visibility: hidden;
}

footer.product {
  width: 100%;
  height: 60px;
  background: var(--cor4);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  z-index: 100;
  border-radius: 50px 50px 0px 0px;
}

footer.product button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px 10px;
  background: var(--cor4);
  font-size: 2rem;
  font-weight: bolder;
  font-family: var(--fontPrincipal);
  text-transform: uppercase;
  color: white;
}

footer.product button > img {
  width: 50px;
  height: 50px;
  filter: invert();
}

.intro{
  width: 100%;
  height: 100vh;
  position: absolute;
  background: var(--cor3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.2s ease-in-out;
  animation: sumir 2s ease-in forwards;
}

@keyframes sumir {
  0%{
    display: flex;
    opacity: 1;
  }
  100%{
    display: none;
    opacity: 0;
  }
}

.intro h1{
  font-size: 1.5rem;
  color: var(--cor4);
  font-weight: 700;
  animation: slide-out-left 10s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide-out-left 10s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    display: flex;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
    display: none;
  }
}
.book-wrapper {
  width: 150px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.book {
  width: 100%;
  height: auto;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.137));
}
.book-wrapper .book-page {
  width: 50%;
  height: auto;
  position: absolute;
  animation: paging 0.15s linear infinite;
  transform-origin: left;
}
@keyframes paging {
  0% {
    transform: rotateY(0deg) skewY(0deg);
  }
  50% {
    transform: rotateY(90deg) skewY(-20deg);
  }
  100% {
    transform: rotateY(180deg) skewY(0deg);
  }
}
